body {
  font-family: sans-serif;
  margin: auto;
  max-width: 1280px;
}

.navbar {
  background-color: #313236;
  border-radius: 2px;
  justify-content: space-evenly;
  display: flex;
}

.header {
  background: url('/images/darkrit_banner_slim.png') no-repeat top center;
  background-size: 100% auto;
  height: 274px;
}

.navbar a {
  color: #ddd;
  font-weight: bolder;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;

}

.navbar a:hover {
  color: #ffffff;
}

.centered {
  display: flex;
  justify-content: center;
}

.lbry-video {
  max-width: 1000px;
  max-height: 800px;
  min-height: 400px;
  width: 100%;
  height: 100%;
}